<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    {% if user.is_authenticated %} {% comment %} if a user is signed in {% endcomment %}
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'category_list' %}">Categories</a>
                        <a href="{% url 'account_list' %}">Accounts</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %} {% comment %} if a user is NOT signed in {% endcomment %}
                        <a href="{% url 'signup' %}">Sign Up</a>
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}
</body>
</html>
