{% extends "base.html" %}
{% block title %} My Accounts List {% endblock title %}
{% block content %}
<main>
    <h1>
        My Account List
    </h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for info in accounts.all %}
            <tr>
                <td>{{ info.name }}</td>
                <td>{{ info.number }}</td>
                <td>{{ info.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
