{% extends "base.html" %}
{% block title %} My Receipts {% endblock title %}
{% block content %}
    <main>
        <h1>
            My Receipts
        </h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for info in all_receipts.all %}
                <tr>
                    <td>{{ info.vendor }}</td>
                    <td>{{ info.total }}</td>
                    <td>{{ info.tax }}</td>
                    <td>{{ info.date|date:"m/d/y" }}</td>
                    <td>{{ info.category.name }}</td>
                    <td>{{ info.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
